body {
  background-color: rgb(30, 19, 52);
  margin: 0;
}

.cont {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  gap: 10px;
  /* height: 500px;
  width: 500px; */
}

.texto {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
}
.img {
  width: 60%;
  /* justify-content: stretch; */
  border-radius: 10px;

}


.btn {
  width: 200px;
  background-color: rgb(30, 19, 52);
  color: rgb(182, 217, 169);
  border: 1px solid white;
  cursor: pointer;
  padding: 5px;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
